[submodule "site-lisp/internodeum"]
    path = site-lisp/internodeum
    url = http://github.com/spacebat/internodeum.el
[submodule "site-lisp/circe-notifications"]
	path = site-lisp/circe-notifications
	url = sakura:/srv/git/circe-notifications
[submodule "site-lisp/cedet"]
	path = site-lisp/cedet
	url = http://git.code.sf.net/p/cedet/git
