.org-id-locations
image-dired/
*~
ido.last
games/
url/
session*
config.el
site-lisp/elpa
eqyi-el/eqyiel-custom-junk.el
projectile.cache
projectile-bookmarks.eld
.mc-lists.el
var/
workspace/
eclipse.jdt.ls/
