[submodule "site-lisp/circe-notifications"]
	path = site-lisp/circe-notifications
	url = https://github.com/eqyiel/circe-notifications
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
